/* line 108, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}

/* incase an inverted custom gradient isn't specified */
/* line 177, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class, .fancy-button-base, .buttons a {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/images/button_bg.png?1295875236') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner, .fancy-button-base::-moz-focus-inner, .buttons a::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus, .fancy-button-base:focus, .buttons a:focus {
  outline: none;
}

/* line 8, ../../../app/stylesheets/partials/_fancy-button.sass */
.fancy-button-base {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #444444;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #989898), color-stop(10%, #6a6a6a), color-stop(50%, #3c3c3c), color-stop(50%, #353535), color-stop(100%, #4e4e4e));
  background-image: -moz-linear-gradient(top, #989898 0%, #6a6a6a 10%, #3c3c3c 50%, #353535 50%, #4e4e4e 100%);
  background-image: linear-gradient(top, #989898 0%, #6a6a6a 10%, #3c3c3c 50%, #353535 50%, #4e4e4e 100%);
  border-color: #1e1e1e;
  text-shadow: #040404 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.267) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.267) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.267) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.267) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0 2px;
  vertical-align: middle;
}
/* line 116, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-base, .fancy-button-base:visited {
  color: white;
}
/* line 31, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-base:hover, .fancy-button-base:focus {
  background-color: #3c3c3c;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #919191), color-stop(10%, #636363), color-stop(50%, #353535), color-stop(50%, #2d2d2d), color-stop(100%, #474747));
  background-image: -moz-linear-gradient(top, #919191 0%, #636363 10%, #353535 50%, #2d2d2d 50%, #474747 100%);
  background-image: linear-gradient(top, #919191 0%, #636363 10%, #353535 50%, #2d2d2d 50%, #474747 100%);
  border-color: #161616;
  text-shadow: black 0px 1px 1px;
}
/* line 116, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-base:hover, .fancy-button-base:hover:visited, .fancy-button-base:focus, .fancy-button-base:focus:visited {
  color: white;
}
/* line 36, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-base:active {
  background-color: #353535;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #353535), color-stop(30%, #3a3a3a), color-stop(50%, #303030), color-stop(50%, #282828), color-stop(100%, #494949));
  background-image: -moz-linear-gradient(top, #353535 0%, #3a3a3a 30%, #303030 50%, #282828 50%, #494949 100%);
  background-image: linear-gradient(top, #353535 0%, #3a3a3a 30%, #303030 50%, #282828 50%, #494949 100%);
  border-color: #0e0e0e;
  text-shadow: black 0px -1px -1px;
  -moz-box-shadow: #1e1e1e 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #1e1e1e 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #1e1e1e 0 0.08em 0.1em 1px inset;
  box-shadow: #1e1e1e 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-base:active, .fancy-button-base:active:visited {
  color: white;
}

/* line 2, ../../../app/stylesheets/partials/_simple_form.scss */
.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}
/* line 9, ../../../app/stylesheets/partials/_simple_form.scss */
.simple_form div.input {
  margin-bottom: 10px;
}
/* line 13, ../../../app/stylesheets/partials/_simple_form.scss */
.simple_form .div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}
/* line 17, ../../../app/stylesheets/partials/_simple_form.scss */
.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}
/* line 22, ../../../app/stylesheets/partials/_simple_form.scss */
.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}
/* line 27, ../../../app/stylesheets/partials/_simple_form.scss */
.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}
/* line 35, ../../../app/stylesheets/partials/_simple_form.scss */
.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}
/* line 44, ../../../app/stylesheets/partials/_simple_form.scss */
.simple_form legend {
  padding-left: 120px;
  font-weight: bold;
  font-size: 1.5em;
}
/* line 51, ../../../app/stylesheets/partials/_simple_form.scss */
.simple_form .captcha input {
  width: 100px;
}
/* line 54, ../../../app/stylesheets/partials/_simple_form.scss */
.simple_form .captcha img {
  border: 1px solid #aaa;
  vertical-align: middle;
}

/* line 1, ../../../app/stylesheets/partials/_utility.scss */
.float_left {
  float: left;
}

/* line 2, ../../../app/stylesheets/partials/_utility.scss */
.float_right {
  float: right;
}

/* line 4, ../../../app/stylesheets/partials/_utility.scss */
.align_left {
  text-align: left;
}

/* line 5, ../../../app/stylesheets/partials/_utility.scss */
.align_right {
  text-align: right;
}

/* line 6, ../../../app/stylesheets/partials/_utility.scss */
.align_center {
  text-align: center;
}

/* line 8, ../../../app/stylesheets/partials/_utility.scss */
.grayed {
  color: #aaa;
}

/* line 10, ../../../app/stylesheets/partials/_utility.scss */
.indent {
  margin-left: 2em;
}

/* line 20, ../../../app/stylesheets/partials/_utility.scss */
a.button_link {
  text-align: center;
  font-weight: bold;
  padding: 3px 0 5px;
  text-decoration: none;
  margin-bottom: 6px;
}

/* line 28, ../../../app/stylesheets/partials/_utility.scss */
a img {
  border: none;
}

/* line 16, ../../../app/stylesheets/application.scss */
body {
  background-color: black;
  font-family: Lucida Grande,Verdana,Arial,Sans-serif;
  margin: 0;
}

/* line 22, ../../../app/stylesheets/application.scss */
.company {
  text-align: right;
  color: #ff0;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-right: -5px;
}

/* line 30, ../../../app/stylesheets/application.scss */
.byline {
  text-align: right;
  color: #f60;
  font-size: 18px;
}

/* line 35, ../../../app/stylesheets/application.scss */
.home_link {
  position: fixed;
  left: 150px;
  top: 20px;
}
/* line 40, ../../../app/stylesheets/application.scss */
.home_link a {
  color: #f00;
  text-decoration: none;
}
/* line 44, ../../../app/stylesheets/application.scss */
.home_link a:hover {
  color: #ff0;
}

/* line 49, ../../../app/stylesheets/application.scss */
.buttons {
  padding-top: 1em;
  text-align: center;
}
/* line 52, ../../../app/stylesheets/application.scss */
.buttons a {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 12px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #444444;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #989898), color-stop(10%, #6a6a6a), color-stop(50%, #3c3c3c), color-stop(50%, #353535), color-stop(100%, #4e4e4e));
  background-image: -moz-linear-gradient(top, #989898 0%, #6a6a6a 10%, #3c3c3c 50%, #353535 50%, #4e4e4e 100%);
  background-image: linear-gradient(top, #989898 0%, #6a6a6a 10%, #3c3c3c 50%, #353535 50%, #4e4e4e 100%);
  border-color: #1e1e1e;
  text-shadow: #040404 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.267) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.267) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.267) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.267) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.buttons a, .buttons a:visited {
  color: white;
}
/* line 31, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.buttons a:hover, .buttons a:focus {
  background-color: #3c3c3c;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #919191), color-stop(10%, #636363), color-stop(50%, #353535), color-stop(50%, #2d2d2d), color-stop(100%, #474747));
  background-image: -moz-linear-gradient(top, #919191 0%, #636363 10%, #353535 50%, #2d2d2d 50%, #474747 100%);
  background-image: linear-gradient(top, #919191 0%, #636363 10%, #353535 50%, #2d2d2d 50%, #474747 100%);
  border-color: #161616;
  text-shadow: black 0px 1px 1px;
}
/* line 116, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.buttons a:hover, .buttons a:hover:visited, .buttons a:focus, .buttons a:focus:visited {
  color: white;
}
/* line 36, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.buttons a:active {
  background-color: #353535;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #353535), color-stop(30%, #3a3a3a), color-stop(50%, #303030), color-stop(50%, #282828), color-stop(100%, #494949));
  background-image: -moz-linear-gradient(top, #353535 0%, #3a3a3a 30%, #303030 50%, #282828 50%, #494949 100%);
  background-image: linear-gradient(top, #353535 0%, #3a3a3a 30%, #303030 50%, #282828 50%, #494949 100%);
  border-color: #0e0e0e;
  text-shadow: black 0px -1px -1px;
  -moz-box-shadow: #1e1e1e 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #1e1e1e 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #1e1e1e 0 0.08em 0.1em 1px inset;
  box-shadow: #1e1e1e 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.buttons a:active, .buttons a:active:visited {
  color: white;
}

/* line 58, ../../../app/stylesheets/application.scss */
label {
  color: #f60;
}
/* line 60, ../../../app/stylesheets/application.scss */
label abbr {
  display: none;
}

/* line 66, ../../../app/stylesheets/application.scss */
.captcha input {
  width: 100px;
}
/* line 69, ../../../app/stylesheets/application.scss */
.captcha img {
  border: 1px solid #aaa;
  vertical-align: middle;
}

/* line 75, ../../../app/stylesheets/application.scss */
input, textarea {
  background-color: #ddc;
}

/* line 79, ../../../app/stylesheets/application.scss */
#container {
  width: 950px;
  margin: auto;
  padding: 20px;
  background: url("/images/home_bkgd.jpg") 0 0 no-repeat black;
  position: relative;
  min-height: 500px;
  overflow: hidden;
  *zoom: 1;
}

/* line 92, ../../../app/stylesheets/application.scss */
#content {
  margin-right: 137px;
  position: relative;
}

/* line 98, ../../../app/stylesheets/application.scss */
#main {
  width: 600px;
  margin: 50px 0 0 210px;
  background-color: #aaa;
  color: #333;
  padding: 1em;
}
/* line 104, ../../../app/stylesheets/application.scss */
#main h2 {
  color: #a20;
  margin: 0;
}

/* line 111, ../../../app/stylesheets/application.scss */
#home_page #main {
  background-color: #333;
  padding: 0;
}
/* line 114, ../../../app/stylesheets/application.scss */
#home_page #main > div {
  background-color: #333;
  color: #ff0;
  padding: 1em 1em 1em 45px;
  border-bottom: 3px solid black;
}
/* line 119, ../../../app/stylesheets/application.scss */
#home_page #main > div h4 {
  margin: 0 0 1em 0;
  padding: 0;
}
/* line 124, ../../../app/stylesheets/application.scss */
#home_page #main h3 {
  height: 35px;
  border-bottom: 3px solid black;
  padding: 0 0 0 45px;
  margin: 0;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}
/* line 132, ../../../app/stylesheets/application.scss */
#home_page #main h3 a {
  padding-top: 5px;
}
/* line 136, ../../../app/stylesheets/application.scss */
#home_page #main h3:focus, #home_page #main h3:active {
  outline: none;
}
/* line 139, ../../../app/stylesheets/application.scss */
#home_page #main #who_header {
  background: url("/images/blue_wave.jpg") 0 0 no-repeat black;
  color: #390;
}
/* line 143, ../../../app/stylesheets/application.scss */
#home_page #main #who_header.ui-state-active {
  color: #8f0;
}
/* line 146, ../../../app/stylesheets/application.scss */
#home_page #main #what_header {
  background: url("/images/yellow_wave.jpg") 0 0 no-repeat black;
  color: #09c;
}
/* line 150, ../../../app/stylesheets/application.scss */
#home_page #main #what_header.ui-state-active {
  color: #0cf;
}
/* line 153, ../../../app/stylesheets/application.scss */
#home_page #main #how_header {
  background: url("/images/red_wave.jpg") 0 0 no-repeat black;
  color: #999;
}
/* line 157, ../../../app/stylesheets/application.scss */
#home_page #main #how_header.ui-state-active {
  color: #fff;
}
/* line 162, ../../../app/stylesheets/application.scss */
#home_page #contact {
  margin-top: 20px;
  height: 50px;
}
/* line 165, ../../../app/stylesheets/application.scss */
#home_page #contact a {
  display: block;
  width: 150px;
  height: 50px;
  background: url("/images/contact.jpg") 0 0 no-repeat black;
  position: absolute;
  right: 0;
  outline: none;
}
/* line 174, ../../../app/stylesheets/application.scss */
#home_page #contact a:hover {
  background: url("/images/contact_glow.jpg") 0 0 no-repeat black;
}
/* line 177, ../../../app/stylesheets/application.scss */
#home_page #contact span {
  margin-left: -2000px;
}

/* line 184, ../../../app/stylesheets/application.scss */
#resume_page #main {
  margin-right: 140px;
  width: 640px;
  background-color: #ddc;
  color: #333;
}
/* line 189, ../../../app/stylesheets/application.scss */
#resume_page #main p, #resume_page #main ul {
  font-size: 80%;
}
/* line 192, ../../../app/stylesheets/application.scss */
#resume_page #main li {
  margin-bottom: 1em;
}
/* line 195, ../../../app/stylesheets/application.scss */
#resume_page #main .section {
  position: relative;
  border-bottom: 4px solid #aaa;
  padding: 1em 0;
}
/* line 200, ../../../app/stylesheets/application.scss */
#resume_page #main .pdf_link {
  float: right;
  margin: 0 0 1em 1em;
}
/* line 203, ../../../app/stylesheets/application.scss */
#resume_page #main .pdf_link a {
  display: block;
}
/* line 207, ../../../app/stylesheets/application.scss */
#resume_page #main h4 {
  font-size: 35px;
  color: #BBBBBB;
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -moz-transform-origin: 0 65px;
  -webkit-transform-origin: 0 65px;
  -o-transform-origin: 0 65px;
  transform-origin: 0 65px;
  position: absolute;
  bottom: 0;
}

/* line 218, ../../../app/stylesheets/application.scss */
#carousel_page #main {
  background-color: #333;
  padding: 0;
}
/* line 222, ../../../app/stylesheets/application.scss */
#carousel_page #carousel {
  width: 600px;
  height: 300px;
  overflow: scroll;
}

/* line 230, ../../../app/stylesheets/application.scss */
footer {
  position: fixed;
  bottom: 5px;
  left: 0;
  color: #444;
}
/* line 235, ../../../app/stylesheets/application.scss */
footer .copyright {
  padding-left: 1em;
}

/* line 241, ../../../app/stylesheets/application.scss */
#contact_page #main {
  background-color: #333;
  color: #aaa;
}
/* line 244, ../../../app/stylesheets/application.scss */
#contact_page #main a {
  color: #aaa;
}
