.float_left { float:left; }
.float_right { float:right; }

.align_left { text-align: left; }
.align_right { text-align: right; }
.align_center { text-align: center; }

.grayed { color: #aaa;}

.indent {
  margin-left: 2em;
}

@mixin drop_shadow {
  // stupid one for now, improve later
  border-right: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
}

a.button_link {
  text-align: center;
  font-weight: bold;
  padding: 3px 0 5px;
  text-decoration: none;
  margin-bottom: 6px;
}

a img {
  border: none;
}


blockquote {
  font-size: 90%;
  background-color: #999;
  padding: 1em;
  
}