@import "compass";
@include reset-html5;
@import "partials/fancy-button";
@import "partials/simple_form";
@import "partials/utility";

// colors
$desktop_bkgd: #000;
$page_bkgd: #000;
$footer_bkgd: #000;
$footer_color: #888;

$yellow: #ff0;
$orange: #f60;
$red: #f00;
$cream: #ddc;
$burgandy: #a20;

// layout
$page_width: 950px;

body {
  background-color: $desktop_bkgd;  
  font-family: Lucida Grande,Verdana,Arial,Sans-serif;
  margin: 0;
}

a {
  outline: none;
  color: inherit;
  //text-decoration: none;
}

.company {
  text-align: right;
  color: $yellow;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-right: -5px;
}
.byline {
  text-align: right;
  color: $orange;
  font-size: 18px;
}
.home_link {
  //float: left;
  position: fixed;
  left: 20px;
  top: 20px;
  color: #aaa;
  a {
    color: $red;
    text-decoration: none;
    cursor: pointer;
  }
  a:hover {
    color: $yellow;
  }
}

.buttons {
  padding-top: 1em;
  text-align: center;
  a {
    $fb-font-size: 12px;
    @include fancy-button;
  }
}

label {
  color: $orange;
  abbr {
    display: none; //hide "required" asterix
  }
}

.captcha {
  input {
    width: 100px;
  }
  img {
    border: 1px solid #aaa;
    vertical-align: middle;
  }
}

input, textarea {
  background-color: $cream;
}

#container {
  width: $page_width;
  margin: auto;
  padding: 20px;
  
  background: url("/images/home_bkgd.jpg") 0 0 no-repeat $page_bkgd;
  position: relative;
  min-height: 500px;

  //background-color: $page_bkgd;
  @include clearfix;
}

#content {
  margin-right: 137px;
  position: relative;
}

$main_width: 600px;
#main {
  width: $main_width;
  margin: 50px 0 0 210px;
  background-color: #aaa; //#333;
  color: #333;
  padding: 1em;
  h2 {
    color: $burgandy;
    margin: 0;
  }
}

#home_page {
  #main {
    background-color: #333;
    padding: 0;
    > div {
      background-color: #333;
      color: $yellow;
      padding: 1em 1em 1em 45px;
      border-bottom: 3px solid black;
      h4 {
        margin: 0 0 1em 0;
        padding: 0;
      }
    }
    p em {
      //color: $orange;
      font-style: italic;
    }
    h3 {
      height: 35px; //total 40px
      border-bottom: 3px solid black;
      padding: 0 0 0 45px;
      margin: 0;
      cursor: pointer;
      font-size: 24px;
      font-weight: bold;
      a {
        padding-top: 5px;
      }
    }
    h3:focus, h3:active {
      outline: none;
    }
    #who_header {
      background: url("/images/blue_wave.jpg") 0 0 no-repeat black;
      color: #390;  
    }
    #who_header.ui-state-active {
      color: #8f0;
    }
    #what_header {
      background: url("/images/yellow_wave.jpg") 0 0 no-repeat #000;
      color: #09c;  
    }
    #what_header.ui-state-active {
      color: #0cf;
    }
    #how_header {
      background: url("/images/red_wave.jpg") 0 0 no-repeat #000;
      color: #999; 
    }
    #how_header.ui-state-active {
      color: #fff;
    }
  }

  #contact {
    //margin-top: 20px;
    position: fixed;
    left: 20px;
    top: 20px;
    
    height: 50px;
    a {
     display: block;
     width: 150px;
     height: 50px;
     background: url("/images/contact.jpg") 0 0 no-repeat black; 
     //position: absolute;
     //right: 0;
     outline: none;
    }
    a:hover {
      background: url("/images/contact_glow.jpg") 0 0 no-repeat black; 
    }
    span {
      margin-left: -2000px;
    }
  }
}

#resume_page {
  #main {
    margin-right: 140px;
    width: 640px;
    background-color: $cream;
    color: #333;
    p, ul {
      font-size: 80%;
    }
    li {
      margin-bottom: 1em;
    }
    .section {
      position: relative;
      border-bottom: 4px solid #aaa;
      padding: 1em 0;
    }
    .pdf_link {
      float: right;
      margin: 0 0 1em 1em;
      a {
        display: block;
      }
    }
    h4 {
      font-size: 35px;
      color: #BBBBBB;
      @include rotate(-90deg, 0, 65px);
      position: absolute;
      bottom: 0;
    }
  }
}

#portfolio_page {
  #main {
    background-color: #333;
    color: #666;
    padding: 0;
  }
  #carousel {
    width: $main_width; 
    height: 300px;
    //background: #000;
    overflow: scroll;
  }
  #alt_text {
    margin: auto;
    text-align: center;
    color: $yellow;
  }
}

#working_page {
  #main {
  }
}

footer {
  position: fixed;
  bottom: 5px;
  left: 0;
  color: #444;
  .copyright {
    padding-left: 1em;
  }
}

#benny {
  cursor: pointer;
}

#contact_page {
  #main {
    background-color: #333;
    color: #aaa;
    a {
      color: #aaa;
    }
  }
}
