- body_id 'about_page'
= render :partial => 'page_head', :locals => {:byline => 'about this site'}

#main
  %p
    This site was designed and built by Jonathan Linowes using the following technologies:
    
  %ul
    %li Ruby on Rails 3.0 web application framework
    %li jQuery javascript framework
    %li jQuery UI 
    %li jQuery Themeroller
    %li Cloud carousel javascript library
    %li HAML templating language
    %li SASS and Compass stylesheet language
    %li simple_form form builder 
    %li authlogic authentication 
    %li simple_captcha plug-in (with rmagick/ImageMagick image tools)
    %li Capistrano deployment 
    %li Adobe Fireworks image editor
    %li Developed under OSX
    %li Hosted on Heroku