- body_id 'about_page'
- title 'about this site', false
= render :partial => 'page_head'

#main
  %p
    This site was designed and built by Jonathan Linowes using the following technologies:
    
  %ul
    %li Ruby on Rails 3.0 web application framework
    %li Ruby 1.9.2
    %li jQuery javascript framework
    %li jQuery UI and Themeroller
    %li Cloud carousel javascripts
    %li HAML templating language
    %li SASS and Compass stylesheet language
    %li simple_form form builder 
    %li authlogic authentication 
    %li simple_captcha plug-in (with rmagick/ImageMagick image tools)
    %li git source control and github
    %li Textmate editor
    %li Adobe Fireworks image editor
    %li Developed under OSX
    %li Hosted on Heroku
    