- body_id 'resume_page'
%head
  .home_link= link_to 'home', '/'
  .company Jonathan S. Linowes
  .byline technical resume

#overview
  .section
    .pdf_link
      = link_to 'files/Jonathan_Linowes_Resume_technical2.pdf' do
        %img{:src => 'images/pdf_t64.gif', :title => 'Download as PDF'}
    %h4 Profile
    %p
      <strong>Professional software developer and product manager</strong> with over 20 years hands-on entrepreneurial experience. Expertise with a broad range of software and Internet technologies, including Ruby on Rails, jQuery, and Cucumber.
    %p
      I solve real world problems with practical yet elegant user-centric solutions based on business priorities. I subscribe to agile, behavior driven (BDD), TATFT, DRY, progressive enhancement, “Don't make me think”, and open source approaches to software development. I love to love my work.
  .section  
    %h4{:style => "bottom:250px"} Technical Skills
    %p
      %em Recent technical experience and skills include:
    %ul
      %li 3+ years development using Ruby on Rails (since version 1.x) as my principal language and framework (prior work in Php, Java, and C++). Active member of the Rails community and technical ecosystem.
      %li Extensive experience with jQuery javascript framework, including JQuery UI and numerous plug-ins.
      %li Expertise with SQL databases (including mySQL, Postgres), and experience with no-SQL databases (MongoDB, CouchDB); remote and cloud-based data access (Amazon AWS); import/export/data processing; and various text-based data stores (including CSV, YAML, XML). Have worked on query optimizations, data compression, and encryption.
      %li Authentication and authorization frameworks (including authlogic, restful_authentication, devise).
      %li Visual presentation of quantitative information (including Google visualization chart api, Google maps api, and javascript graphing libraries).
      %li Ecommerce frameworks including ActiveMerchant, and gateway services (Authorize.net, Braintree)
      %li Advocate of test and behavior-driven development (BDD), including Rspec (behavioral unit testing) and Cucumber (plain text executable user scenarios). My projects average 1:1 code to test ratios.
      %li Expertise in various CSS and HTML templating frameworks (including SASS, Compass, HAML, formtastic, Themeroller)
      %li Practical practitioner of agile development processes including iterative design/development with rapid customer feedback.
      %li Strong experience in hosting (including cloud-based (Heroku), virtual private servers, linux/unix/osx); deployment (Capistrano); and revision control (git, SVN)
      
  .section  
    %h4{:style => "bottom:40px"} Employment
    %p
      %strong Parkerhill Technology Group<br>
      Lyman, NH (2002 - present)
      %ul
        %li Contract programmer specializing in Ruby, Rails and related web applications development. Active member of the Ruby on Rails community since 2007.
    %p
      %strong Syntrex Corporation<br>
      Manchester, NH (1998 - 2002)
      %ul
        %li Technical operations and support manager for Internet security software company. Customer advocate and on-site troubleshooter for enterprise software.
    %p
      %strong Autodesk Corporation<br>
      Bedford, NH (1994 - 1998)
      %ul
        %li Software developer and team leader of the Autodesk View family of software products for engineering firms.

  .section  
    %h4{:style => "bottom:0px"} Education
    %p
      %strong Massachusetts Institute of Technology 
      (Cambridge, MA)
      %ul
        %li
          %em Master of Science in Media Technology<br>
          MIT Media Lab
    %p
      %strong Syracuse University 
      (Syracuse, NY)
      %ul
        %li
          %em Bachelor of Arts<br>
          Computer graphics and animation
      
  