%video{ :width => "360", :height => "300", :controls => "controls", :transform => "rotate(45, 100, 65)" }
  %source{ :src => "/100_1100.mp4", :type => "video/mp4"}
  Your browser does not support the video tag.

