- body_id 'working_page'
- title 'how we work', false
= render :partial => 'page_head'

#main
  %h2 Listen. Build. Verify. (repeat)
  %div{:style => 'float:left; margin: 1em 1em 1em -100px; padding: 10px 10px 10px 10px; background-color:#333'}
    = image_tag "escher-waterfall-180.jpg"
  %p
    My first step in any professional relationship is to listen. I need to hear what the client wants built; I need to hear why; and I need to hear many of those nuances the client is <em>not</em> saying.
  %p
    From there we can sketch up an initial set of requirements. This may be a visual drawing of the main page(s) on the site. It may be a narrative of user tasks, goals, and workflow scenarios. It may be a diagram of the database structure and example content. It may be all of the above.
  %p
    In general, the more clearly the requirements are defined, the easier and faster my work will be, and more satisfying the relationship between us.
  %p
    As your features are refined and prioritized, I begin implementing them, in small sizable chunks at a time. The results are deployed to a live website (or staging server) for review and discussion (optimally, including cooperative end-users). 
  %p.align_center
    = image_tag "waterfall_agile400.jpg", :alt => "Agile design process"
    %br
    %span{:style => "font-size:70%; font-style:italic"}
      (image courtesy of 
      = link_to "ResolveDigital", "http://resolvedigital.com"
      ) 
  %p
    This iterative process with rapid feedback cycles is the basis of contemporary "agile" development. The work is driven by business requirements. And with tight turnaround between design, implementation, and feedback from the stakeholders, the next steps can be prioritized, requirements can be refined, and the project kept on track.
  %p
    Other times, projects I work on are already well under way, or at least, the work already partitioned. My approach is still agile, only in this case the stakeholders are others within the team. 
  %p
    Communications between everyone is important. Typically, being remote (working from my home-office), we'll rely heavily on email, phones, and collaborative online tools. Face-to-face meetings are important, albeit using Skype if not in person.
  %p
    So, I'm ready to listen. What do you say?
    
