- body_id 'working_page'
= render :partial => 'page_head', :locals => {:byline => 'how we work'}

#main
  %h2 How I Approach My Client Projects
  %div{:style => 'float:left; margin: 1em 1em 1em -150px; padding: 10px 10px 15px 10px; background-color:#333'}
    = image_tag "escher-waterfall-235x300.jpg"
  %p
    The traditional approach to software project management and development looks like a "waterfall", where requirements lead to a detailed design, which is handed off to developers for implementation; then the result is tested and verified that it satisfies the design.
  %p
    Modern day approaches are more "agile", with rapid iterative development-feedback cycles involving the customer, end-users, and developers. There are formal frameworks for managing this process (i.e. "SCRUM") which have shown to be very effective and efficient.
  %p
    Blah blah blah blah Blah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blah
  -#%p.align_center
    = image_tag "waterfall_traditional400.jpg", :title => "Traditional waterfall design process (image courtesy of http://resolvedigital.com)"
  %p
    Blah blah blah blah Blah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blah
  %p.align_center
    = image_tag "waterfall_agile400.jpg", :style => "text-align:center", :title => "Agile design process (image courtesy of http://resolvedigital.com)"
  %p
    Blah blah blah blah Blah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blah

    
    
