.input.captcha
  %label.text
    =# simple_captcha_options[:label]
    Verify
  = simple_captcha_options[:field]
  = simple_captcha_options[:image]
  %span.hint please enter the characters you see in the image