#content
  - if show_title?
    %h1= yield(:title)

  = yield
  #copyright
    copyright &copy; 2011 Parkerhill Technology Group LLC
    = link_to "(about this site)", about_path, :style => "margin-left: 1em", :style => 'font-size:70%'
    