%footer
  #benny
    = image_tag "/images/rooster.jpg"

  #footer{:style => 'display:none'}
    .copyright
      copyright &copy; 2011 Parkerhill Technology Group LLC
      -# #{APP_CONFIG[:company_name]}

-# content_for :javascript_ready do
  :plain
:javascript
    $("#benny > img").click(function(){
      $("#footer").toggle();
    });
    