#benny
  = image_tag "/images/rooster.jpg", :id => 'benny_img'
  %fb:like( href="http://parkerhill.com" layout="button_count" width="150" font="lucida grande" colorscheme="dark")

:javascript
  $("#benny_img").click(function(){
    $(this).effect("bounce", { times:3 }, 300);
  });
  
    