/[if lt IE 8]
  = stylesheet_link_tag 'compiled/ie', :media => 'screen, projection'
  = javascript_include_tag 'excanvas.min.js'
/[if lt IE 7]
  = stylesheet_link_tag 'compiled/ie6.css', :media => 'screen, projection'    
