!!!
%html.no-js
  %head
    = render 'layouts/html_head'
  %body{ :id => yield(:body_id).blank? ? nil : yield(:body_id) }
    #container
      =# render 'layouts/header'
      = render 'layouts/content'
      = render 'layouts/footer'
    - unless yield(:javascripts_tail).blank?
      %script
        = yield :javascripts_tail
